@import url('https://fonts.googleapis.com/css?family=Caveat|Cormorant+Garamond');
body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 645px;
    //background-color: blueviolet;
}

.nav-group {
    display: flex;
    padding: 20px;
}

.menu-group {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: flex-end;
}
.menu-group a {
    text-decoration: none;
    display: block;
    color: #000000;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    padding-right: 25px !important;
    padding-left: 25px !important;  
}

.deadspace {
    width: 300px;
}


#landing {
    display:flex;
    background-color: blue;
    background-image: url("../images/bk_tble.jpg");
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    width: 100%;
    padding-top: 100px;
    height: 400px;
}


#intro {
    width: 550px;
    font-family: 'Cormorant Garamond', serif;
    padding: 0 0 0 80px;
    font-size: 1.2em;
    color: #FFFFFF;
    //background-color: bisque;
}

#intro h1{
    font-family: 'Caveat', cursive;
    font-size: 60px;
    color: #FFFFFF;
}
img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.section--social {
    display:flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .social {
    margin-right: 1.6rem;
    color: rgb(52, 152, 219);
  }

  .socialWrapper {
    display: inline-block;
    font-size: 1.6rem;
  }

 